.ratingWrapper {
	position: relative;
}

.star {
	display: inline-block;

	padding: 2px;

	transition: all 0.2s;

	color: var(--primary);

	font-style: normal;
}

.editable .star {
	cursor: pointer;
}

.error .star {
	color: var(--red);
}

.editable .star:hover {
	transform: scale(1.2);

	text-shadow: 0 0 1px rgb(118 83 252 / 100%);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);
}
