.footer {
  padding: 1rem 30px;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(22, 67, 96, 0.82);

  a {
    color: #f1f1f1;
    letter-spacing: 1.5px;
  }
}