html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

address {
  white-space: break-spaces;
  color: rgba(0, 0, 0, 0.61);
}

button {
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 10px 14px;
  background-color: #0070f3;
  color: #fafafa;
  box-shadow: 1px 1px 3px 1px rgba(100,100,100, 0.25);
  border-radius: 2px;
  margin-left: auto;
  margin-right: 0;
  font-size: 1rem;
  flex-grow: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    box-shadow: 1px 1px 3px 1px rgba(100,100,100, 0.5);
  }

  &:active {
    box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.5);
  }
}

select {
  min-width: 100px;
  border-radius: 2px;
  padding: 10px 12px;
}

.hero {
  padding: 20px 10px;
  text-align: center;
  background: rgba(0, 72, 154, 0.63);

  img {
    height: auto;
    max-width: 100%;
    border-radius: 20px;
  }
}

nav {

  a {
    margin: 0 10px;
    padding: 4px 0;
  }
}

.posts-all,
.posts-latest {
  text-align: center;
  margin-bottom: 40px;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 25%;
    padding: 20px;
  }

  a {
    display: flex;
    flex-direction: column;
    background: #cccccc;
    border: 2px solid #0070f3;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s all;

    &:hover {
      transform: translate(0, -4px);
      box-shadow: 4px 4px 10px 4px rgba(#000000, 0.1);
    }
  }
}

.post-content {
  padding: 8px;

  h3 {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.post-details-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background: rgba(0, 72, 154, 0.1);

  h1 {
    margin: 10px;
  }
}

.post-details {
  text-align: center;
}

.post-details-content {
  padding: 12px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;

  form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  label {
    padding: 10px 16px;
    width: 50%;
    flex-grow: 1;
  }

  label span {
    display: block;
    margin-bottom: 4px;
  }

  input,
  textarea {
    width: 100%;
    padding: 6px 12px;
  }

  button {
    width: 100%;
    margin: 0 16px;
  }
}

.note {
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 12px;
  border: 2px solid;
  background: white;

  &.error {
    border-color: red;
    color: red;
  }
  &.success {
    border-color: green;
    color: green;
  }
}
