:root {
	--white: white;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--black: #38434E;
	--primary: #7351F5;
	--primary-hover: #4026A9;
	--red: #FC836D;
	--red-light: #EC9A8B;
	--green: #007B48;
	--green-light: #C8F8E4;
	--fonts-family: "Noto Sans", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--fonts-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;

	visibility: hidden;
	overflow: hidden;

	width: 0;
	height: 0;
}
